* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  color: #2A2B2C;
  font-family: "Gill Sans", sansx-serif;
}

header {
  color: black;
  text-align: center;
  margin: none;
  padding: none;
}

#leftMainRow {
  width: 80%;
  height: 100vh;
  background-color: #dee4f1;
  white-space: nowrap;
  overflow: scroll;
}

.titles {
  font-size: 30px;
  font-weight: bold;
}

.left-section {
  display: flex;
  background-color: #dee4f1;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#rightMainRow {
  width: 20%;
  height: 100vh;
  background-color: #404348;
  margin: none;
}

#username,
.right-section {
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px;
}

.first-row-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

#stepsBox {
  background-color: #8babf1;
  color: #01285e;
  box-shadow: 0px 0px 1px 1px #01285e;
  text-align: center;
}

#totalSteps {
  white-space: normal;
}

#waterBox {
  display: flex;
  background-color: #054FB9;
  color: white;
  /* height: 400px;
  width: 450px; */
  box-shadow: 0px 0px 1.5px 2px white
}

.second-row-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 35vh;
  border-radius: 10px;
}

#activityBox {
  background-color: #0461cf;
  color: white;
  /* height: 400px;
  width: 380px; */
  box-shadow: 0px 0px 1.5px 2px white
}

#sleepBox {
  background-color: #B3C7F7;
  color: #01285e;
  padding: 10px;
  /* height: 50%; */
  box-shadow: 0px 0px 1px 1px #01285e;
}

.toggleButton {
  margin: 20px;
  background-color: #B3C7F7;
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  border: none;
  padding: 1vh 2vh;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.arrow {
  text-align: start;
}

.hidden {
  display: none;
}

#waterChart,
#activityChart,
#sleepChart,
#stepChart {
  margin: 20px;
  padding: 40px;
  max-width: 25vw;
  max-height: 30vh;
  background-color: white;
  color: #FFFFFF;
}

.main-row {
  width: 600px;
  height: 800px;
}

#stepsBox,
#stepsContainer,
#waterBox,
#activityBox,
#sleepBox {
  width: 50%;
  height: 50%;
}

#waterBox,
#activityBox {
  padding: 20px;
}

.first-row-left,
.second-row-left {
  width: 50%;
  height: 50%;
  margin: 30px;
}