* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  color: #2A2B2C;
  font-family: "Gill Sans", sansx-serif;
}

header {
  color: black;
  text-align: center;
  margin: none;
  padding: none;
}

#leftMainRow {
  width: 80%;
  height: 100vh;
  background-color: #dee4f1;
  white-space: nowrap;
  overflow: scroll;
}

.titles {
  font-size: 30px;
  font-weight: bold;
}

.left-section {
  display: flex;
  background-color: #dee4f1;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#rightMainRow {
  width: 20%;
  height: 100vh;
  background-color: #404348;
  margin: none;
}

#username,
.right-section {
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px;
}


.first-row-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  height: 50%;
  width: 50%;
}

#stepsBox {
  display: flex;
  flex-direction: row;
  background-color: #8babf1;
  color: white;
  height: 450px;
  width: 380px;
  box-shadow: 0px 0px 1.5px 2px white;
  text-align: center;
}

#totalSteps {
  white-space: normal;
}

#waterBox {
  display: flex;
  background-color: #054FB9;
  color: white;
  height: 400px;
  width: 450px;
  box-shadow: 0px 0px 1.5px 2px white
}

#stepChart,
#waterChart,
#activityChart {
  margin: 20px;
}

.second-row-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw;
  height: 35vh;
  margin: 20px;
  border-radius: 10px;
}

#activityBox {
  background-color: #0461cf;
  color: white;
  height: 400px;
  width: 380px;
  box-shadow: 0px 0px 1.5px 2px white
}

#sleepBox {
  background-color: #B3C7F7;
  color: white;
  padding: 10px;
  height: 50%;
  box-shadow: 0px 0px 1.5px 2px white;
}

.toggleButton {
  margin: 10px;
  background-color: #B3C7F7;
  color: white;
  font-family: "Gill Sans", sans-serif;
  border: none;
  padding: 1vh 2vh;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.arrow {
  text-align: start;
}

.hidden {
  display: none;
}

#waterChart,
#stepChart,
#activityChart {
  background-color: white;
  color: #FFFFFF;
}

/* parent container for left and right main */
.main-row {
  width: 600px;
  height: 800px;
  margin: none;
}

/* .right-section,
#rightMainRow {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
/* height: 100vh;
  width: 30%;
  background-color: #404348;
  color: #FFFFFF;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 1.5px 2px white;
  border-radius: 10px;
} */

/* #caloriesBox {
  background-color: #0073E6;
  color: white;
  padding: 30px;
  box-shadow: 0px 0px 1.5px 2px white
}

#heartRateBox {
  background-color: #8BABF1;
  color: white;
  padding: 30px;
  box-shadow: 0px 0px 1.5px 2px white
} */

/* #progressBox {
  background-color: #8BABF1;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 1.5px 2px white
} */
/* 
.sleep-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* #progressRightSide {
  display: flex;
  flex-direction: column;
  background-color: 8BABF1;
  justify-content: space-between;
  margin: 10px;
} */

/* table {
  background-color: white;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-right: 50px;
} */


/* .third-row-left {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 100vh;
  margin: 20px;
  border-radius: 10px;
}

.third-row-right {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* #recTrainer {
  background-color: #8BABF1;
  color: white;
  padding: 40px;
  box-shadow: 0px 0px 1.5px 2px white;
  border-radius: 10px;
}

#featuredDiet {
  background-color: #0073E6;
  color: white;
  padding: 40px;
  box-shadow: 0px 0px 1.5px 2px white
} */